<div class="mt-3 mb-3 ml-3">
  <div class="text-left">
    <h2>Tableau de bords</h2>
  </div>
  <app-area></app-area>
</div>
<hr>
<div class="row justify-content-center">
  <div class="col-md-3">
      <div class="card mb-4 ml-4 mr-2 text-left">
          <div class="card-body">
  <app-card label="Nombre d'equipements" total={{totquipement}} percentage="{{prcentagetotquipement|  number : '1.2-2'}}%" ></app-card>
          </div>
      </div>
  </div>
  <div class="col-md-3">
      <div class="card mb-4 ml-2 mr-2 text-left">
          <div class="card-body">
            <app-card label="Nombre de biens" total={{totalBien_s}} percentage="{{PrcentageBiens|  number : '1.2-2'}}%"></app-card>
          </div>
      </div>
  </div>
  <div class="col-md-3">
    <div class="card mb-4 ml-2 mr-2 text-left">
        <div class="card-body">
          <app-card label="Nombre de pièces" total={{totieces}} percentage="{{PrcentagePiece|  number : '1.2-2'}}%"></app-card>
        </div>
    </div>
</div>
<div class="col-md-3">
  <div class="card mb-4 ml-2 mr-4 text-left">
      <div class="card-body">
        <app-card label="Total des maintenances" total={{totsignal}} ></app-card>
      </div>
  </div>
</div>
</div>




<hr>
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card mb-4 ml-4 mr-2 text-left">
      <div class="card-body">
        <p class="h4 blue-color">Liste des intervenants</p>
        <hr>
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nom</th>
              <th scope="col">Fonction</th>
              <th scope="col">Email</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of ListeIntervenant; let indexOfelement=index;" >
              <th scope="row">{{indexOfelement+1}}</th>
              <td>{{item.nomInterv}}</td>
              <td>{{item.fonctionInterv}}</td>
              <td>{{item.emailIntervenant}}</td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>
<div class="col-md-6">
  <div class="card mb-4 ml-2 mr-4  text-left">
    <div class="card-body">
        <app-pie></app-pie>
    </div>
</div>
</div>
</div>
