<div class="col mt-3 mb-3">
  <div class="col-md-12 mb-3">
    <img src="assets/split.jpg" class="rounded" wight="150" height="150">
  </div>
  <div class="col-md-12">
    <h3><i class="fas fa-info-circle blue-color"></i>&nbsp;Caractéristiques techniques</h3>
  </div>
  <hr>
  <div class="col-md-12 ">
    <div class="alert alert-danger" *ngIf="errorMsg.length > 0">
      <div *ngFor="let msg of errorMsg">
        <span >{{msg}}</span>
      </div>
    </div>
    <form>
<!--  -->
<div class="row mb-3">
  <div class="col-md-6">
    <label>Société</label>
      <select  name="modele" class="form-control"  [(ngModel)]="societeDto.id">
        <option value="0">selectionnez la société</option>
        <option *ngFor="let soc of listeSocietePrincipale" [value]="soc.id">{{soc.denomination}}</option>
      </select>

  </div>


</div>
<!--  -->

      <div class="row mb-3">
        <div class="col-md-6">
          <label>Bien immobilier</label>
            <select  name="modele" class="form-control"  (change)="onChangeBienImmobilier($any($event.target).value)" >
              <option value="0">selectionnez le bien immobilier</option>
              <option *ngFor="let bien of listeBienDto" [value]="bien.id">{{bien.nomBienImmobilier}}</option>
            </select>

        </div>

        <div class="col-md-6">
          <label>Pièce</label>
          <select id="piece" name="piece" class="form-control" [(ngModel)]="pieceDto.id">
            <option value="0">selectionnez la piece</option>
            <!-- {{listePiece.bienImmobilierDto?.nomBienImmobilier}}-{{listePiece.typeSalle}}-{{listePiece.nomPiece}} -->
            <option *ngFor="let piece of listePieceDto" [value]="piece.id">{{piece.bienImmobilierDto?.nomBienImmobilier}}-{{piece.typeSalle}}-{{piece.nomPiece}}</option>
          </select>
        </div>
      </div>
      <div class="row mb-3">

        <div class="col-md-3">
          <label>Marque</label>
          <input type="text" class="form-control" placeholder="Marque" name="marque" [(ngModel)]="equipementDto.marque">
        </div>
        <div class="col-md-3">
          <label>N° de série</label>
          <input type="text" class="form-control" placeholder="N° de série" name="numeroSerie" [(ngModel)]="equipementDto.numeroSerie">
        </div>

        <div class="col-md-3">
          <label>Modèle</label>
          <select id="modele" name="modele"  class="form-control"  [(ngModel)]="equipementDto.modele">
            <option value="0">selectionnez le modèle</option>
            <option value="Monobloc mural">Monobloc mural</option>
            <option value="Monobloc window">Monobloc window</option>
            <option value="Split mural">Split mural</option>
          </select>
        </div>
        <div class="col-md-3">
          <label>Type de climatiseur</label>
          <select id="modele" name="typeClim"  class="form-control"  [(ngModel)]="equipementDto.typeClim">
            <option value="0">selectionnez le type d'equipement</option>
            <option value="Evaporateur">Evaporateur</option>
            <option value="Condensateur">Condensateur</option>
            <option value="Tout en un">Tout en un</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h5><i class="fas fa-info-circle blue-color"></i>&nbsp;Dimensions totales</h5>
        </div>
        <div class="col-md-6">
          <h5><i class="fas fa-balance-scale blue-color"></i>&nbsp;Poids & Puissance</h5>
        </div>
      </div>
      <hr>
      <!-- <div class="row mb-3"> -->
      <div class="row mb-3">
        <div class="col-md-1">
          <label>Hauteur</label>
        </div>
        <div class="col-md-5">
          <input type="number" class="form-control" placeholder="Hauteur" name="hauteur" [(ngModel)]="equipementDto.hauteur">
        </div>
        <div class="col-md-2">
          <label>Poids net (intérieur, Kg)</label>
        </div>
        <div class="col-md-4">
          <input type="number" class="form-control" placeholder="Kg"
          name="poidsNetInterieur" [(ngModel)]="equipementDto.poidsNetInterieur">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-1">
          <label>Largeur</label>
        </div>
        <div class="col-md-5">
          <input type="number" class="form-control" placeholder="Largeur"
          name="largeur" [(ngModel)]="equipementDto.largeur">
        </div>
        <div class="col-md-2">
          <label>Poids net (Extérieur, Kg)</label>
        </div>
        <div class="col-md-4">
          <input type="number" class="form-control" placeholder="Kg"
          name="poidsNetExterieur" [(ngModel)]="equipementDto.poidsNetExterieur">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-1">
          <label>Longueur</label>
        </div>
        <div class="col-md-5">
          <input type="number" class="form-control" placeholder="Longueur"
          name="longueur" [(ngModel)]="equipementDto.longueur">
        </div>
        <div class="col-md-2">
          <label>Puissance (Chevaux)</label>
        </div>
        <div class="col-md-4">
          <input type="number" class="form-control" placeholder="2 chevaux"
          name="puissance" [(ngModel)]="equipementDto.puissance">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h5><i class="fas fa-asterisk blue-color"></i>&nbsp;Détails importants</h5>
        </div>
      </div>
      <hr>
      <div class="row mb-3">
        <div class="col-md-3">
            <label>Date d'achat</label>
            <input type="Date" class="form-control" placeholder="Contrat"
            name="dateAchat" [(ngModel)]="equipementDto.dateAchat">
        </div>
        <div class="col-md-3">
            <label>N° de facture</label>
            <input type="text" class="form-control" placeholder="facture"
            name="numFacture" [(ngModel)]="equipementDto.numFacture"
            >
        </div>
        <div class="col-md-3">
            <label>Prix d'achat (Fr CFA)</label>
            <input type="number" class="form-control" placeholder="Prix"
            name="prixFacture" [(ngModel)]="equipementDto.prixFacture"
            >
        </div>
        <div class="col-md-3">
            <label>Garantie (ans)</label>
            <input type="number" class="form-control" placeholder="Garantie"
            name="garantie" [(ngModel)]="equipementDto.garantie">
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-3">
            <label>Fournisseur</label>
            <input type="text" class="form-control" placeholder="Fournisseur"
            name="nomFournisseur" [(ngModel)]="equipementDto.nomFournisseur">
        </div>
        <div class="col-md-3">
            <label>Personne ressource</label>
            <input type="text" class="form-control" placeholder="Personne ressource"
            name="personneRessource" [(ngModel)]="equipementDto.personneRessource">
        </div>
        <div class="col-md-3">
            <label>Téléphone</label>
            <input type="number" class="form-control" placeholder="Téléphone"
            name="telephone" [(ngModel)]="equipementDto.telephone">
        </div>
        <div class="col-md-3">
            <label>Mobile</label>
            <input type="number" class="form-control" placeholder="Mobile"
            name="mobile" [(ngModel)]="equipementDto.mobile">
        </div>
      </div>
      <!-- nouvelle ligne  -->
      <div class="row mb-3">
        <div class="col-md-3">
          <label>Date de mise en service</label>
          <input type="date" class="form-control"
          name="dateMiseService" [(ngModel)]="equipementDto.dateMiseService">
      </div>
        <div class="col-md-3">
          <label>Etat de service</label>
          <select id="modele" name="typeClim"  class="form-control"  [(ngModel)]="equipementDto.etatService">
            <option value="0">selectionnez l'etat de l'equipement</option>
            <option value="En marche">En marche</option>
            <option value="En panne">En panne</option>
            <option value="En cours de reparation">En cours de reparation</option>
          </select>
        </div>
      </div>
      <!-- coooooooool -->
      <div class="row">
        <div class="col">
          <h5><i class="fas fa-feather-alt blue-color"></i>&nbsp;Autres informations</h5>
        </div>
      </div>
      <hr>
      <div class="row mb-3">
        <div class="col-md-6">
          <label>Description</label>
          <textarea class="form-control" placeholder="Description" rows="2"
          name="description" [(ngModel)]="equipementDto.description"></textarea>
        </div>
        <div class="col-md-6">
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1"
            name="livreAvecAccessoires" [(ngModel)]="equipementDto.livreAvecAccessoires">
            <label class="form-check-label" for="exampleCheck1">Livré avec un support de protection et tous les accessoires.</label>
          </div>
        </div>

      </div>

    </form>
  </div>
  <div class="col-md-12 text-right">
    <button type="button" class="btn btn-danger mr-3" (click)="cancel()"><i class="fas fa-ban"></i>&nbsp;Annuler</button>
    <button type="button" class="btn btn-primary" (click)="saveEquipement()"><i class="fas fa-save"></i>&nbsp;Enregistrer</button>
  </div>
</div>
