<div class="row">
  <div class="col mt-3 ">
    <div class="col-md-12 ">
      <img src="assets/picto-Intervention-sur-site.jpg" class="rounded" wight="150" height="150">
    </div>
    <div class="col-md-12">
      <h3><i class="fas fa-info-circle blue-color"></i>&nbsp;Nouvelle intervention</h3>
    </div>
  </div>
</div>
<hr>
<form>
  <div class="row p-0 m-1 mb-3">
    <div class="col-md-6">
      <label>Bien immobilier </label>
      <select class="custom-select">
        <option selected>Selectionnez un bien immobilier</option>
        <option value="1">Pigier Centre</option>
        <option value="2">Pigier Annexe</option>
        <option value="3">Pigier Yamoussoukro</option>
        <option value="4">Villa Pigier</option>
      </select>
    </div>
    <div class="col-md-6">

        <label>Piece(s)</label>
        <select class="custom-select">
          <option selected>Selectionnez le ou les pièce(s) concerné(s)</option>
          <option value="1">Salle 1</option>
          <option value="2">Salle 2</option>
          <option value="3">Salle 3</option>
          <option value="4">Salle 4</option>
        </select>

    </div>
  </div>
  <!-- <div class="row p-0 m-1 mb-3">
    <div class="col-4">
      <label>Piece(s)</label>
      <select class="custom-select">
        <option selected>Selectionnez le ou les pièce(s) concerné(s)</option>
        <option value="1">Salle 1</option>
        <option value="2">Salle 2</option>
        <option value="3">Salle 3</option>
        <option value="4">Salle 4</option>
      </select>
    </div>
    <div class="col-2 text-center">
      <button type="button" class="btn btn-primary w-75 mt-3 p-0 h-75"><i
          class="fas fa-arrow-right"></i>&nbsp;Valider</button>
    </div>
    <div class="col-6">
      <label>Pièces(s) sélectionné(s)</label>
      <textarea class="form-control m-0" placeholder="Adresse postale" rows="3"></textarea>
    </div>
  </div> -->

  <div class="row p-0 m-2 mb-3">
    <div class="col-6">
      <label>Motif d'intervention</label>
      <input type="text" class="form-control" placeholder="motif">
    </div>
    <div class="col-6">
      <label>Description</label>
      <textarea class="form-control m-0" placeholder="Adresse postale" rows="2"></textarea>
    </div>
  </div>
<div class="row p-0 m-2 mb-3">
  <div class="col-6">
    <label>Priorité</label>
    <select class="custom-select">
      <option selected>Selectionnez la piorité</option>
      <option value="1">Urgent</option>
      <option value="2">Normale</option>
      <option value="3">Basse</option>
    </select>
  </div>
  <div class="col-6">
    <label>Date d'echeance</label>
    <input type="date" class="form-control" placeholder="date">
  </div>

</div>

  <div class="row p-0 m-4 mb-3">
    <div class="col-md-12 text-right">
      <button type="button" class="btn btn-danger mr-3"><i class="fas fa-ban"></i>&nbsp;Annuler</button>
      <button type="button" class="btn btn-primary"><i class="fas fa-save"></i>&nbsp;Enregistrer</button>
    </div>
  </div>
</form>








