<div class="col mt-3 mb-3">
  <div class="row">
    <div class="col-md-12 mb-3">
      <img src="assets/salle.jpeg" class="rounded" wight="150" height="150">
    </div>
  </div>

  <div class="col-md-12">
    <h3><i class="fas fa-info-circle blue-color"></i>&nbsp;Information sur la pièce</h3>
  </div>
  <hr>
  <div class="col-md-12 ">
    <div class="alert alert-danger" *ngIf="errorMsg.length > 0">
      <div *ngFor="let msg of errorMsg">
        <span >{{msg}}</span>
      </div>
    </div>
    <form>
      <div class="row mb-3">

        <div class="col-md-4">
          <select  name="bienImmoDto" class="form-control" name="bienImmoDto" [(ngModel)]="bienImmoDto.id" >
            <option value="0">selectionnez le bien immobilier</option>
            <option *ngFor="let bien of listeBienImmoDto" [value]="bien.id">{{bien.nomBienImmobilier}}</option>

          </select>

        </div>
        <div class="col-md-5">
          <input type="text" class="form-control" placeholder="Nom du batiment" name="nomBatiment" [(ngModel)]="pieceDto.nomBatiment">
        </div>
        <div class="col-md-3">
          <input type="number" class="form-control" placeholder="Etage" name="positionEtage" [(ngModel)]="pieceDto.positionEtage">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <select  name="typeSalle" class="form-control" name="typeSalle" [(ngModel)]="pieceDto.typeSalle">
            <option selected="selected">selectionnez le type de salle</option>
            <option value="Salle de classe">Salle de classe</option>
            <option value="Bureau">Bureau</option>
            <option value="Amphi">Amphi</option>
            <option value="Salle informatique">Salle informatique</option>
            <option value="Secretariat">Secretariat</option>
            <option value="Showrom">Showrom</option>
          </select>
        </div>
        <div class="col">
          <input type="number" class="form-control" placeholder="Capacité" name="capacitePiece" [(ngModel)]="pieceDto.capacitePiece">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Nom de la pièce"  name="nomPiece" [(ngModel)]="pieceDto.nomPiece">
        </div>
      </div>
      <div class="row mb-3">
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
          <textarea class="form-control" placeholder="Description" rows="2"></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-12 text-right">
    <button type="button" class="btn btn-danger mr-3" (click)="cancel()"><i class="fas fa-ban"></i>&nbsp;Annuler</button>
    <button type="button" class="btn btn-primary" (click)="enregistrerPiece()"><i class="fas fa-save"></i>&nbsp;Enregistrer</button>
  </div>
</div>
