<div class="col mt-3 mb-3">
  <div class="row">
    <div class="col-md-12 mb-3">
      <img src="assets/salle.jpeg" class="rounded" wight="150" height="150">
    </div>
  </div>

  <div class="col-md-12">
    <h3><i class="fas fa-info-circle blue-color"></i>&nbsp;Information sur la pièce</h3>
  </div>
  <hr>
  <div class="col-md-12 ">
    <form>
      <div class="row mb-3">

        <div class="col-md-4">
          <select id="Typebien" name="Typebien" class="form-control">
            <option value="0">selectionnez le bien immobilier</option>
            <option value="1">Pigier centre</option>
            <option value="2">Pigier annexe</option>
            <option value="2">Villa pigier</option>
            <option value="2">Pigier Yamoussoukro</option>
          </select>
        </div>
        <div class="col-md-5">
          <input type="text" class="form-control" placeholder="Nom du batiment">
        </div>
        <div class="col-md-3">
          <input type="number" class="form-control" placeholder="Etage">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <select id="Typebien" name="Typebien" class="form-control">
            <option value="0">selectionnez le type de salle</option>
            <option value="1">Salle de classe</option>
            <option value="2">Bureau</option>
            <option value="3">Amphi</option>
            <option value="4">Salle informatique</option>
            <option value="5">Secretariat</option>
            <option value="6">Showrom</option>
          </select>
        </div>
        <div class="col">
          <input type="number" class="form-control" placeholder="Capacité">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Nom de la pièce">
        </div>
      </div>
      <div class="row mb-3">
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
          <textarea class="form-control" placeholder="Description" rows="2"></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-12 text-right">
    <button type="button" class="btn btn-danger mr-3"><i class="fas fa-ban"></i>&nbsp;Annuler</button>
    <button type="button" class="btn btn-primary"><i class="fas fa-save"></i>&nbsp;Enregistrer</button>
  </div>
</div>
