<div class="row mb-1 mr-0 custom-border">
  <div class="col-md-1 custom-border-right p-1 text-center mb-1 mt-1 ">
    <img src="assets/split.jpg" width="100px" height="100px">
  </div>

<!--  Details equipement-->
  <div class="col-md-5 custom-border-right mb-1 mt-1 ">
    <div class="col">
      <div class="row">
        <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
        <div class="col-md-11">Code : Equip-{{eqpmtDto.codeEquipement}}</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
        <div class="col-md-11">Marque: {{eqpmtDto.marque}}</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
        <div class="col-md-11">Modèle : {{eqpmtDto.modele}}</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fas fa-plug blue-color"></i></div>
        <div class="col-md-11">Puissance: {{eqpmtDto.puissance}} chevaux</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="far fa-calendar-check blue-color"></i></div>
        <div class="col-md-11">Date de mise en service : {{eqpmtDto.dateAchat | date: 'dd/MM/yyyy'}} </div>
      </div>
    </div>
  </div>

<!--  details categorie-->
  <div class="col-md-3 custom-border-right mb-1 mt-" >
    <div class="row" *ngFor="let x of listePieceEquipeDto">
      <!-- <div class="col-md-2">
        <i class="fas fa-building blue-color"></i>
      </div> -->
      <div class="col-md-12" >
        <div class="row" >

          <div class="col-md-12">
            <i class="fas fa-building blue-color"></i>&nbsp;
            Bien: {{x.piecesDto?.bienImmobilierDto?.nomBienImmobilier}}</div>
        </div>
        <div class="row" >
          <div class="col-md-12">
            <i class="fas fa-map-marker-alt blue-color"></i>&nbsp;
            Batiment: {{x.piecesDto?.nomBatiment}}
          </div>
        </div>
          <!--  -->
          <div class="row" >
            <div class="col-md-12">
              <i class="fas fa-person-booth blue-color"></i>&nbsp;
              Piece: {{x.piecesDto?.bienImmobilierDto?.nomBienImmobilier}} - {{x.piecesDto?.typeSalle}}-{{x.piecesDto?.nomPiece}}
            </div>
          </div>
          <!--  -->


      </div>
    </div>


    <!-- <div class="row">
      <div class="col-md-2">
        <i class="fas fa-charging-station blue-color"></i>
      </div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-12">Etat: En service</div>
        </div>
      </div>
    </div> -->
  </div>

<!--  boutons action-->
  <div class="col-md-3 mb-1 mt-1 ">
    <div class="row">
      <div class="col-md-4">
        <button type="button" class="btn btn-link" >
          <i class="fas fa-pencil-alt"></i>&nbsp;Modifier
        </button>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-link text-danger" data-toggle="modal">
          <i class="fas fa-trash-alt"></i>&nbsp;Supprimer
        </button>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-link ">
          <i class="far fa-list-alt"></i>&nbsp;Details
        </button>
      </div>
    </div>
  </div>
</div>



