<div class="row mb-1 mr-0 custom-border">
  <div class="col-md-1 custom-border-right p-1 text-center mb-1 mt-1 ">
    <img src="assets/batC.jpg" width="100px" height="100px">
  </div>

<!--  Details article-->
  <div class="col-md-5 custom-border-right mb-1 mt-1 ">
    <div class="col">
      <div class="row">
        <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
        <div class="col-md-11">Soc1001 </div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
        <div class="col-md-11">Denomination</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fas fa-phone-alt blue-color"></i></div>
        <div class="col-md-11">contact : 01 02 03 04 05</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fas fa-at blue-color"></i></div>
        <div class="col-md-11">Email</div>
      </div>
    </div>
  </div>

<!--  details categorie-->
  <div class="col-md-6 custom-border-right mb-1 mt-1 ">
    <div class="row">
      <div class="col-md-2">
        <i class="fas fa-flag-checkered blue-color"></i>
      </div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-12">Soc1001</div>
          <div class="col-md-12">Batiment A</div>
        </div>
      </div>
    </div>
  </div>

<!--  boutons action-->
  <!-- <div class="col-md-3 mb-1 mt-5 ">
    <div class="row text-center">
      <div class="col-md-12" >
        <button type="button" class="btn btn-primary" >
          <i class="fas fa-caret-down"></i>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </button>
      </div>
    </div>
  </div> -->
</div>


